<div class="span9">	
  <h1>{{productData.length}}</h1>							
  <ul *ngIf= "productData.length !== '0'" class="thumbnails listing-products">
    
    <li *ngFor="let product of productData" class="span3">
      <div class="product-box">
        <span class="sale_tag"></span>												
        <a href="product_detail.html"><img alt="" src="http://localhost:3000/{{product.productImage}}"></a><br/>
        <a href="product_detail.html" class="title">{{product.name}}</a><br/>
        <a href="#" class="category">Phasellus consequat</a>
        <p class="price">${{product.price}}</p>
      </div>
    </li>       
    
  </ul>								
  <hr>
  <div class="pagination pagination-small pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>

<app-product-right-side></app-product-right-side>